<%- include('./../layouts/header.ejs', {title:'Crear usuario'}) -%>

      <section class="jumbotron">
        <div class="container">
          <form class="row g-3 needs-validation" method="PUT" action="/api/posts/" novalidate>
            <div class="col-md-12 py-4">
              <label for="title" class="form-label">Titulo</label>
              <input type="text" class="form-control" name="title" id="title" value="" required>
            </div>
            <div class="col-md-12 py-4">
              <label for="body" class="form-label">Cuerpo</label>
              <input type="text" class="form-control" name="body" id="body" value="" required>
            </div>
            <div class="col-md-12 py-4">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="sub" name="sub">
                <label class="form-check-label" for="sub">Requiere Subscripcion?</label>
              </div>
            </div>
            
            <div class="form-group col-md-12 py-4">
              <label for="category">Categoria</label>
              <select class="form-control" id="category" name="category">
                <option></option>
                <% categories.forEach(categories => { %>
                <option value="<%=categories.id  %>"><%= categories.name %></option>
                <% }); %>
              </select>
            </div>
            
            <div class="form-group col-md-12 py-4">
              <label for="province">Provincia</label>
              <select class="form-control" id="province" name="province">
                <option></option>
                <% provinces.forEach(provinces => { %>
                  <option value="<%=provinces.id  %>"><%= provinces.name %></option>
                <% }); %>
              </select>
            </div>
            
            <div class="form-group col-md-12 py-4">
              <label for="author">Autor</label>
              <select class="form-control" id="author" name="author">
                <option></option>
                <% authors.forEach(authors => { %>
                  <option value="<%=authors.id  %>"><%= authors.name %></option>
                <% }); %>
              </select>
            </div>
            </div>
              <div class="col-12">
                <div class="row justify-content-between">
                  <a href="javascript:history.back()" class="btn btn-secondary">Atras</a>
                  <button class="btn btn-primary" type="submit" id="boton">Enviar</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
      const $boton = document.getElementById('boton');

      boton.addEventListener('click', async (e) => {
        e.preventDefault();
        let title = document.getElementById('title').value;
        let body = document.getElementById('body').value;
        let sub = 0;
        if (document.getElementById('sub').checked){
          sub="1";
        }else{
          sub="0";
        }
        console.log(sub)
        let category = document.getElementById('category').value;
        let province = document.getElementById('province').value;
        let author = document.getElementById('author').value;
        const data = await add(title,body,sub,category,province,author);
        console.log(data);
        if (data.status == 200) {
          alert("se ha creado la noticia: "+title)
          window.location.href = '/';
        } else {
          alert(data.msg)
        }
      })

       const add = async (title,body,sub,category,province,author) => {
        try {
          const request = await fetch('http://localhost:8000/api/posts/',{
            method:"PUT",
            body: JSON.stringify({
              title,
              body,
              sub,
              category,
              province,
              author
            }),
            headers : {
              "Content-Type": "application/json",
            }
          })
          const datos = await request.json()
          return datos;
        } catch (error) {
          return error;
        }
      } 
    </script>
<%- include('./../layouts/footer.ejs') -%>
